body{
    margin:30px 30px;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    min-height: 80vh;
    background-color:grey;
}
.heading{  
    color:lightgreen;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: darkgrey;
    border: 1px solid #ccc;
    border-radius: 0px; /* Make the heading square */
}
.login{
    background-color: grey;
    text-align: center;
    font-size: 20px;
    color:darkred;
    font-style: Bolder;
    border-radius: 0px; /* Make the login box square */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Add a smooth edge */
}
/* Other styles remain the same */
